
DirectoryIndex main.html
AddDefaultCharset UTF-8
Options -Indexes


ErrorDocument 403 https://infinityfree.net/errors/403/

ErrorDocument 404 https://infinityfree.net/errors/404/

ErrorDocument 500 https://infinityfree.net/errors/500/